{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block content %}
<h1 class="mt-5">Modifier mon mot de passe</h1>
<p>{{ app.user.firstname }}, ici vous pouvez modifier votre mot de passe.</p>

<br><br>
{% if notification %}
    <div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{ form(form) }}

<br><br>

<a class="btn button-ecoit" href="{{ path('app_account') }}">Retour à mon espace membre</a>
{% endblock %}
