{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
<h1 class="mt-5 mb-4 text-center">Mon compte</h1>
<p>Bienvenue {{ app.user.firstname }}, ceci est votre espace personnel. Vous pouvez notamment y gérer vos informations personelles.
    {% if is_granted('ROLE_ADMIN') %}
        Votre statut d'aministrateur vous permet d'accéder à d'autres fonctions.
    {% endif %}
    {% if is_granted('ROLE_TEACHER') %}
        Votre statut de professeur votre permet également de gérer vos formations.
    {% endif %}
</p>

    <br>
    <br>

    <div class="text-center">
        <a class="btn button-ecoit mt-2" href="{{ path('app_account_password') }}">Modifier mon mot de passe</a>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn button-ecoit mt-2 ml-2" href="{{ path('admin') }}">Espace administateur</a>
        {% endif %}
        {% if is_granted('ROLE_TEACHER') %}
            <a class="btn button-ecoit mt-2 ml-2" href="{{ path('admin') }}">Espace formation</a>
        {% endif %}
    </div>
{% endblock %}
