{% extends 'base.html.twig' %}

{% block title %}Se connecter à votre espace membre !{% endblock %}

{% block content %}
<form id="login" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mt-5 mb-5 font-weight-bold form-title">Connectez-vous !</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Veuillez saisir votre email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Veuillez saisir votre mot de passe" autofocus required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <br>
    <div class="submit-div">
        <button class="btn button-ecoit" type="submit">
            Connexion
        </button>
    </div>
</form>
{% endblock %}
