{% extends 'base.html.twig' %}

{% block carousel %}

{% endblock %}

{% block content %}
        <h2 class="text-center font-weight-bold text-uppercase mb-4"> Le top du mois !</h2>
        <div class="row">
            {% for lesson in lessons %}
                    <div class="col-md-4 lessons-content">
                            {% include 'lesson/one_lesson.html.twig' %}
                    </div>
            {% endfor %}
        </div>

        <br>
        <br>

        <h2 class="text-center font-weight-bold text-uppercase mb-4"> Notre philosophie</h2>
        <br>
        <div class="row">
            <div class="col-md-6">
                <h3> Notre façon de voir la formation</h3>
                <div>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</div>
            </div>
            <div class="col-md-6">
                <img class="img-learning" src="https://images.assetsdelivery.com/compings_v2/melpomen/melpomen1906/melpomen190600081.jpg"></img>
            </div>
        </div>
{% endblock %}