/* navbar */
ul.navbar-nav.mr-auto{
    width: fit-content;
    margin: 0 auto;
}
.navbar-login-item a{
    color: #FFFFFF;
}
@media screen and (max-width: 750px){
    .navbar-login-item{
        width: fit-content;
        margin: 0 auto;
    }
}
.nav-item a{
    text-decoration: none;
    color: #0ea47a;
    text-align: center;
    vertical-align: center;
}
.nav-link{
    color: #0ea47a !important;
    font-weight: bold;
}
.navbar-brand{
    color: #0ea47a !important;
    font-weight: bold;
    font-size: 2rem;
}
.navbar-toggler{
    border: 1px solid #0ea47a ;
    color: #0ea47a;
}
.navbar-toggler:active{
    border: 1px solid #0ea47a ;
}
.navbar-toggler:focus{
    outline: none;
    border: 1px solid #0ea47a ;
}
.navbar-toggler:focus-visible{
    border: 1px solid #0ea47a ;
}
.background-ecoit{
    background-color: #EAEFEE;
}


/* general features */
html{
    padding: 0;
    margin: 0;
    height: 100%;
}
body{
    height: 100%;
    position: relative;
}
h1{
    color: #1c1f1e;
    font-weight: bold;
}
@media screen and (max-width: 750px){
    h1{
        font-size: 2rem;
    }
}
.button-ecoit{
    background-color: #0ea47a;
    color: #fff;
    border-radius: 5rem;
}
.button-ecoit:hover{
    background-color: #1c1f1e;
    color: #0ea47a;
}
.button-ecoit:active{
    background-color: #1c1f1e !important;
    color: #fff;
}
.button-ecoit:focus{
    background-color: #1c1f1e !important;
    box-shadow: none;
    color: #fff;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (min-width: 750px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
.img-learning{
    height: 18rem;
    width: auto;
    border-radius: 25px;
}
@media (max-width: 750px) {
    .img-learning {
        display: block;
        margin: 0 auto;
        height: auto;
        width: 80%;
    }
}


/* register and login form */
div#register{
    width: 50%;
    margin: auto;
}
form#login{
    width: 50%;
    margin: auto;
}
.form-title{
    width: fit-content;
    margin: auto;
}
.submit-div{
    width: fit-content;
    margin: 0 auto;
}
.form-group:last-of-type{
    width: fit-content;
    margin: 0 auto;
}
@media (max-width: 750px) {
    div#register {
        width: 100%;
    }
    form#login{
        width: 100%;
    }
}

/* lessons */
.form-check{
    margin: 0.25rem 0.5rem;
}
.lesson-filter{
    width: fit-content;
    margin: 0.5rem auto;
}
.lesson-filter-item{
    margin: 0 1rem;
}
.lesson-name{
    color: #1c1f1e;
    font-weight: bold;
}
.lesson-subtitle{
    color: #a0adaa;
    font-weight: lighter;
}
.lessons-content{
    padding: 0.25rem;
    margin: 0.5rem 0;
}
@media screen and (max-width: 750px){
    #categories{
        display: none !important;
    }
    .search-button{
        display: none;
    }
}


/* quiz features */
#quizWrap {
    max-width: 100%;
    margin: 0 auto;
}
/* (B) QUESTION */
#quizQn {
    padding: 20px;
    background: #0ea47a;
    color: #fff;
    font-size: 24px;
    border-radius: 10px;
}
/* (C) ANSWERS */
#quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}
#quizAns input[type=radio] { display: none; }
#quizAns label {
    background: #fafafa;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
#quizAns label.correct {
    background: #d8ffc4;
    border: 1px solid #0ea47a;
}
#quizAns label.wrong {
    background: #ffe8e8;
    border: 1px solid #c78181;
}
.widget-wrap {
    width: 100%;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
}


/* footer */
.footer-ecoit{
    padding-top: 1rem;
    width: 100%;
    text-align: center;
    bottom: 0;
    height: 3.5rem;
}
@media screen and (max-width: 750px){
    .footer-ecoit{
        padding: 0.5rem;
        font-size: smaller;
    }
}
.footer-ecoit a{
    text-decoration: none;
    color: lightgrey;
}