{% extends 'base.html.twig' %}

{% block content %}

    <h1 class="mt-5 mb-5 form-title">Inscription</h1>
    {% if notification %}
        <div class="alert alert-info">{{ notification }}</div>
    {% endif %}
    {{ form(form) }}

{% endblock %}