{% extends 'base.html.twig' %}

{% block title %}Nos formations{% endblock %}

{% block content %}
    <h1 class="text-center mb-5 mt-5">Nos formations</h1>

    <div class="container">
        <div class="lesson-filter row">
            <div class="d-flex">{{ form(form) }}</div>
        </div>
    </div>

    <div class="row mt-3">
        {% for lesson in lessons %}
            <div class="col-md-4 lessons-content">
                {% include 'lesson/one_lesson.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
