<div class="text-center">
    <h3 class="lesson-name">{{ lesson.name }}</h3>
    <h5 class="lesson-subtitle">{{ lesson.subtitle }}</h5>
    <p class="lesson-category">{{ lesson.category }}</p>
    <a href="{{ path('app_lesson', {'slug' : lesson.slug }) }}" class="btn btn-sm button-ecoit">voir la formation</a>
</div>