{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name }}{% endblock %}

{% block content %}
    <h1 class="lesson-name text-center mt-4">{{ lesson.name }}</h1>

    <div class="container">
        <div class="lesson-content text-center">
            <h3 class="lesson-subtitle">{{ lesson.subtitle }}</h3>
            <iframe src="{{ lesson.video }}" width="100%" height="550rem" class="lesson-subtitle"></iframe>
            <p class="lesson-category">{{ lesson.description }}</p>
        </div>
    </div>
    {% if lesson.slug == 'test-video'%}
        <div class="widget-wrap">
            <h1 class="text-center">QUIZ</h1>
            <!-- (A) QUIZ CONTAINER -->
            <div id="quizWrap"></div>
        </div>
        <script src="{{ asset('assets/js/quiz.js')}}"></script>
    {% endif %}

{% endblock %}
