<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>ECF ECOIT Alexandre Vinet</title>
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/ecoit.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/carousel.css') }}" rel="stylesheet">
</head>

<body>
<header>
    <nav class="navbar navbar-light bg-light navbar-expand-md fixed-top background-ecoit">
        <a class="navbar-brand" href="{{ path('app_home') }}">ECOIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_lessons') }}">Nos formations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ECOIT pour l'entreprise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <div class="navbar-login-item">
                {% if app.user %}
                    <a class="btn btn-sm button-ecoit" href="{{ path('app_account') }}">Mon compte ({{ app.user.firstname }})</a> | <a class="btn btn-sm button-ecoit" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="btn btn-sm button-ecoit" href="{{ path('app_login') }}">Connexion</a> | <a class="btn btn-sm button-ecoit" href="{{ path('app_register') }}">Inscription</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>

<main role="main">
    {% if block('carousel') is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#a0adaa"/></svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Rejoignez nous !</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg button-ecoit" href="{{ path('app_register') }}">Inscription</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#a0adaa"/></svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Contactez nous !</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg button-ecoit" href="#" role="button">Contact</a></p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"><rect width="100%" height="100%" fill="#a0adaa"/></svg>
                <div class="container">
                    <div class="carousel-caption">
                        <h1>Nos formations pour les entreprises !</h1>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p><a class="btn btn-lg button-ecoit" href="#" role="button">ECOIT pour l'entreprise</a></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {% endif %}

    <div class="container marketing {% if block('carousel') is not defined %} p-5 {% endif %}">

    {% block content %}
    
    {% endblock %}

    </div>

    <br>
    <br>
    <br>

    <footer class="footer-ecoit background-ecoit fixed-bottom">
        <p>&copy; 2022 ECOIT, fake Inc. &middot site réalisé dans le cadre de l'ECF d'Alexandre Vinet &middot <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js')}}"></script>
</body>
</html>